LOCAL_CACHE_PATH=
REMOTE_CACHE_PATH=
MAX_SEQ_LENGTH=5096
MODEL_PATH=
TIMEOUT_SFTP=300 # Default is 5 minutes

HOSTNAME_SSH=
PORT_SSH=22
USERNAME_SSH=
PASSWORD_SSH=

DTB_SERVER=
DTB_NAME=
DTB_UID= 
DTB_PWD=
